html {
    zoom: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

header {
    height: 100px;
    background: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #FFEB3B;
}

main {
    margin-top: 40px;
    padding: 0 20px;
}

h2, h3 {
    text-align: center;
    color: #575757;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    margin-bottom: 40px;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.vw, .vv, .vwv {
    width: 400px;
    height: auto;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
    border-radius: 8px;
}

.vw:hover, .vv:hover, .vwv:hover {
    opacity: 1;
    transform: scale(1.05);
    border: 4px solid rgb(77, 77, 51);
}


.about {
    background-color: #4CAF50;
    padding: 60px 20px;
    color: #FFFFFF;
    text-align: center;
}

.about-div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb4WESaA2V0DC7LYxFRU8COl3bT2E9JcGNMA&s);
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    border-radius: 10px;
}

.about-div p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}


footer {
    background: #4CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: relative;
}
        .logo {
            width: 50px;
            height: auto;
            vertical-align: middle;
        }
        .nav-link {
            margin-right: 15px;
        }
        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .info-div {
            width: 60%;
        }
        .info-img {
            width: 35%;
            height: auto;
        }
        .menu-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .menu-info {
            width: 60%;
        }
        .menu-info img {
            width: 35%;
            height: auto;
        }
    
.video{
    position: relative;
    text-align: center;
    margin-left: 50%;
    zoom: 150%;
}
